.container {
  width: 30em;
  height: 32em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
}

.input {
  background-color: rgb(224, 224, 224);
  border: none;
  width: 28em;
  height: 2.8em;
  padding: 0 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.input::placeholder {
  font-size: 0.9em;
  font-weight: 600;
}

.input:focus {
  outline: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: transparent;
  cursor: pointer;
  color: rgb(224, 224, 224);
}

.button:hover {
  color: black;
}

.list {
  width: 30em;
  height: 35em;
  padding: 1em 2.5em;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  display: none;
}

.chat {
  display: flex;
  align-items: center;
  margin: 1.2em 0;
}

.user {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 800;
}

.message {
  display: inline-block;
  max-width: 24em;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0 1.2em 0 0.7em;
}

.time {
  font-size: 0.5rem;
  font-weight: 500;
  color: rgb(121, 121, 121);
}
